
/** COLORS
https://flatuicolors.com/
**/

$green: #1abc9c;
$blue: #3498db;
$purple: #9b59b6;
$asphalt: #34495e;
$yellow: #f1c40f;
$orange: #f39c12;
$red: #e74c3c;
$gray: #ecf0f1;
$white: #FFF;
$black: #000;

$primary-color: $blue;
