frontend/vendor/components
frontend/vendor/css/app.min.css
frontend/vendor/css/app.css
frontend/vendor/js/app.js
frontend/vendor/js/app.min.js
frontend/angular/templates.js
frontend/node_modules
config/development.cfg
config/production.cfg

.old
*.db
*.log
*.pid
*.pyc
*.sck
*.sqlite3
*.sqlite3-journal
*.sublime-*
*.todo
*.egg-info
*~
.bundle
.coverage
.DS_Store
.vagrant
output/*
build/*
node_modules
build
.cache
*.egg
